# {{ ansible_managed }}

SHELL=/bin/bash
PATH=/sbin:/bin:/usr/sbin:/usr/bin
{% if site_user_email is defined %}
MAILTO={{ site_user_email }}
{% else %}
MAILTO=root
{% endif %}
HOME=/

# Example of job definition:
# .---------------- minute (0 - 59)
# |  .------------- hour (0 - 23)
# |  |  .---------- day of month (1 - 31)
# |  |  |  .------- month (1 - 12) OR jan,feb,mar,apr ...
# |  |  |  |  .---- day of week (0 - 6) (Sunday=0 or 7) OR sun,mon,tue,wed,thu,fri,sat
# |  |  |  |  |
# *  *  *  *  * user-name command to be executed
{{ cron_minute }} 0 * * * root /backup/{{ site_user }}/backup.sh
